* {
    box-sizing: border-box;}
.wrapper {
    height: 600px;
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px 20px;
    width: 780PX;}
div.logo-container image {
    border-radius: 6px;}
.col {
    padding: 0 10px;
    float: left;}
    .col.left, .col.right {
        width: 30%;}
    .col.center {
        width: 40%;}
.content-block .heading {
    background: url(../images/button.png);
    width: 100%;
    height: 35px;
    border-radius: 7px;
    background-size: 100% 100%;
    color: white;
    font-size: 16px;
    padding: 6px 10px;}
.content-block ul {
    background: rgba(255,255,255,0.2);
    padding-left: 10px;
    margin-top: 5px;
    border-radius: 6px;
    color: white;
    font-weight: bold;}
    .content-block ul li {
        list-style: none;}